In [1]:
# list comprehesion is also similiar to loop

# [St loop/loops <>condition]
# outcome is always list, output list contains result of st's

In [2]:
a = [10, 20, 30]

In [5]:
# b = [12, 22, 32]
b = []
for x in a:
    b.append(x+2)

In [6]:
b

[12, 22, 32]

In [7]:
c = [x+2 for x in a]

In [8]:
c

[12, 22, 32]

In [12]:
import time
t1 = time.time()
b= []
for x in range(100000):
    b.append(x)
print(time.time()-t1)

0.077999830246

In [11]:

t1 = time.time()
b= [x for x in range(100000)]
print(time.time()-t1)

0.0260000228882

In [14]:
print(dir(time))

['__doc__', '__name__', '__package__', 'accept2dyear', 'altzone', 'asctime', 'clock', 'ctime', 'daylight', 'gmtime', 'localtime', 'mktime', 'sleep', 'strftime', 'strptime', 'struct_time', 'time', 'timezone', 'tzname']

In [15]:
print(time.time.__doc__)

time() -> floating point number

Return the current time in seconds since the Epoch.
Fractions of a second may be present if the system clock provides them.

In [16]:
print time.time()

1540955738.53

In [17]:
print time.time()

1540955748.09

In [18]:
print time.time()

1540955805.87

In [19]:
a = [10, 13, 14, 16, 21, 20, 25, 35]

In [20]:
# now I want to form a new list with only even numbers from the a

In [21]:
b = [x for x in a if not x%2]

In [22]:
c = []
for x in a:
    if not x%2:# x%2 == 0
        c.append(x)

In [23]:
print b
print c

[10, 14, 16, 20]
[10, 14, 16, 20]

In [24]:
# ternary operator is also similiar to conditional statement
# t_st if <condi> else f_st

In [25]:
x = 5

print(x+2 if x>5 else x+3)

8

In [26]:
print(x+2 if x>4 else x+3)

7

In [27]:
x = -2
res = "positive" if x < 0 else "negative"

In [28]:
res

'positive'

In [29]:
a = [10, 2, 3, 5, 6, 9, 11, 15, 17, 21, 23, 25]

In [30]:
# I want to create a new list from above list where 
# 1. ignore the multiples of 3
# 2. square the even numbers
# 3. cube the odd numbers

In [31]:
c = [ x**3 if x%2 else x**2  for x in a if x%3]

In [34]:
print(c)

[100, 4, 125, 1331, 4913, 12167, 15625]